// colors
$light: #f0f0f0;
$dark: #222;

$header: rgb(255, 255, 255);
$form: rgb(18, 18, 18);

// indents
$margin-sm: 6px;
$margin-default: 8px;
$margin-md: 16px;
$margin-lg: 24px;
$margin-xl: 42px;

$padding-sm: 6px;
$padding-default: 8px;
$padding-md: 16px;
$padding-lg: 24px;
$padding-xl: 42px;

// radius
$radius-sm: 4px;
$radius-default: 8px;
$radius-lg: 16px;
$radius-rounded: 100%;

// gap
$gap-sm: 12px;
$gap-default: 16px;
$gap-md: 18px;
$gap-lg: 24px;

// font


$font-defalut: 16px;
$font-md: 18px;
$font-lg: 24px;
$font-xl: 32px;
$font-sm: 8px;